body{
    font-family: Tahoma ;
    font-size: 12px;
}
h1{
    color: #d63031;
    text-align: center;
}
table{
    margin-left: 350px;
}
thead{ 
    background-color: #CC0033;
    color: #FFFFFF;
    font-weight: bold;
}
